body {
    background-color: lightgray;
}

/*For the word 'famous' in collaborations.*/
em {
    /*font-size: 72px;*/
    background: -webkit-linear-gradient(rgb(248, 163, 4), rgb(119, 2, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Footer*/
footer {
    position:absolute;
    bottom:0;
    padding: 3px;
    border-top: 1px solid;
}
