
.v-enter-active, .v-leave-active {
    transition: 0.3s;
}
.v-enter, .v-leave-to {
    opacity: 0;
}


button {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 6px;
    color: #fff;
    border: 2px;
    background-color: #D34B2B;
    transition: background-color .2s
}
button:hover {
    background-color: #97351f;
}
button:active {
    background-color: #581f12;
}
.header {
    height: 15vh;
}
.image {
    display: block;
    margin-top: 30vh;
    margin-left: 45vw;
    margin-right: 55vw;
  }